div.user-profiles-page {
	background-color: #000;
	font-family: 'Lato', sans-serif;
	padding: 10px;
	color: #fff;

	div.title {
		font-size: 1.5em;
		margin-top: 0.83em;
		margin-bottom: 0.83em;
	}

	div.instructions {
		margin-top: 0.83em;
		margin-bottom: 0.83em;
	}

	input.search-box {
		padding-top: 1em;
		padding-bottom: 1em;
		width: 100%;
	}
	
}